.contenedor {
    height: 500px;
    width: 500px;
    background: red;
    padding: 100px;
}

#item-id {
    height: 100px;
    width: 100px;
    background: green;
}

.item {
    height: 100px;
    width: 100px;
    background: blue;
    color: white;
    margin: 50px;
}